body{
    background-color: whitesmoke;
}
input{
    margin-top:5px;
    margin-bottom: 5px;
}
div{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 300px;
}